* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: #E50914;
    --basecolor: #141414;
}

body {
    background: var(--basecolor);
    font-family: Arial, Times, serif;
    color: #fff;

}

.main {
    background-image: url('/assets/img/capa-house.jpg');
    height: 600px;
    background-size: cover;
}

.shadow {
    background: linear-gradient(77deg, #00000099 0, #00000000 85%);
    height: 600px;
}

.container {
    padding: 5px 50px;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    transition: background-color 0.2s;
}

header .container.scroll {
    background-color: #000000e8;
    box-shadow: 0 5px 5px -4px #000;

}

header .logo {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 36px;
    cursor: pointer;
}

header nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 16px;

}

header nav a:hover {
    color: #aaa;
}

.content-main {
    width: 100%;
    padding-top: 10%;

}

.content-main .title {
    padding-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.content-main .description {
    margin-top: 10px;
    margin-bottom: 40px;
    width: 50%;
    line-height: 28px;
}

.button {
    background-color: #00000080;
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.button i {
    margin-right: 8px;
}

.subtitle-container {
    display: flex;
    flex-direction: row;

}

.subtitle {
    color: #aaa;
    margin-top: 40px;
    display: block;
    cursor: pointer;

    transition: color 0.2s;
}

.subtitle:hover {
    color: #fff;
}

.subtitle::after {
    content: " Ver mais ";
    font-size: 12px;
    margin-left: 5px;
    visibility: hidden;
    transition: width 0.3s;
}

.subtitle:hover::after {
    visibility: visible;
}

.carrosel-film {
    margin-top: 20px;
}

.item {
    width: 70%;
}

.box-film {
    display: block;
    cursor: pointer;
}